/* global: overrides bootstrap font with a Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

* {
  font-family: 'Chelsea Market', cursive;
}

img {
  width: 100%;
}

pre {
  margin: 10px;
  padding: 10px;
  background-color: #6c757d;
  border-radius: 10px;
  overflow-y: auto;
}

pre code {
  color: #ffc107;
}

.github {
  padding: unset;
  width: 50px;
  height: 50px;
  object-fit: fill;
}

/* 404, footer */
.resized-logo {
  height: 100%;
  width: 280px;
}

/* header */
.social-list-margin {
  margin-right: 2em;
}
.social-link-style {
  display: inline-block;
  width: 104px;
}
.social-img-style {
  margin-right: 0.5em;
  height: 22px;
}

/* searchForm */
.autocomplete-img-style {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.dropdown-position {
  top: 35px;
}

.form-control:focus {
  border-color: #ffc107;
  box-shadow: none;
}

.result-list-width {
  width: 385px;
  color: black;
}

@media all and (min-width: 321px) and (max-width: 414px) {
  .result-list-width {
    width: 320px;
  }
}

@media all and (max-width: 320px) {
  .result-list-width {
    width: 270px;
  }
}

.overlay-style {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* characters in books */
.long-content {
  overflow: hidden;
}
